{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Vorakor Technologies</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'website/img/core-img/favicon.ico'%}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/style.css'%}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css'%}">

</head>

<body class="light-version">

    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container light breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar light justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand light" href="#"><img src="{% static 'website/img/core-img/logo.png'%}" alt="logo"> Vorakor </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler demo">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Blog Posts</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Project</a></li>
                                <li><a href="service/">Services</a></li>
                            </ul>

                            <!-- Button -->
                            <a href="#" class="btn login-btn ml-50">Log in</a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <section class="hero-section ico-bg2 relative hidden" id="home">
        <div class="ico-circled"></div>
        <!-- Hero Content -->
        <div class="hero-section-content">
            
            <div class="container ">
                <div class="row align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="welcome-content text-left">
                            <div class="promo-section">
                                <h3 class="special-head gradient-text cyan mt-s">Futuristic</h3>
                            </div>
                            <div class="cd-intro v2 text-left">
                                <h1 class="cd-headline clip is-full-width thin" >
                                    <span class="w-text bold">We Build and Develop Tech. Results & </span>
                                    <span class="cd-words-wrapper">
                                        <b class="gradient-text cyan bolder is-hidden">Manage like A Pro<span class="o-text">.</span></b>
                                        <b class="gradient-text cyan bolder is-visible">Scale to Success<span class="o-text ">.</span></b>
                                    </span>
                                </h1>
                            </div>
                            <p class="g-text fadeInUp" data-wow-delay="0.3s">
                            We strive to build and develop technology driven solutions and drive innovation in order to bring forward the future by making it easier for our customers to access various types of services.
                            </p>
                            <div class="dream-btn-group fadeInUp w-text" data-wow-delay="0.4s">
                                <a href="#" class="btn more-btn pink mr-3">Learn More</a>
                                {% comment %} <div class="video-demo-prev">
                                    <a href="#" class="btn more-btn video-btn v2  mr-3"><i class="fa fa-play"></i> </a>
                                    <span>Watch Demo</span>
                                </div> {% endcomment %}
                            </div>
                            
                        </div>
                    </div>
                    <div class="mt-50 col-12 col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-sm-12 ">
                        <div class="fadeInUp" style="" data-wow-delay="0.5s">
                            <img src="{% static 'website/img/core-img/animated-img1.gif'%}" alt="" class="spec-ml city-img img-responsive center-block">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>


    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area ico-about-bg section-padding-100-0 clearfix" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left ">
                    <div class="welcome-meter">
                        <img src="{% static 'website/img/core-img/about3.png'%}">
                    </div>
                </div>
                
                <div class="col-12 col-lg-6 offset-lg-0 mt-s">
                    <div class="who-we-contant">
                        <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <span class="gradient-text blue">We are the experts you exactly need</span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">Who We Are</h2>
                        <p class="fadeInUp" data-wow-delay="0.4s">We provide high-end information technology, consultancy, mobile app, and software development company that focus on building world class products, providing excellent services using technology to inspire and implement solutions to enable businesses. We maximize our ability to take on any project by creating a diverse team who can bring their experience and perspectives together to solve problems.</p>
                        <div class="list-wrap align-items-center mb-20">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Managed Sucre Backups</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">DevOps</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Advanced Caching</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">24/7 Expert Support</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Unlimited Applications</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Optimized Stack</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="section-padding-70-70">
           
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-12 col-lg-6 offset-lg-0">
                        <div class="who-we-contant">
                            <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <span class="gradient-text blue">New problems need Creative and unusual Solutions</span>
                            </div>
                            <h4 class="fadeInUp" data-wow-delay="0.3s">What We Do</h4>
                            <p class="fadeInUp" data-wow-delay="0.4s"> We build apps that flake on every platform or screen.</p>
                            <div class="services-block-four v2 mt-30">
                                <div class="inner-box">
                                    <div class="icon-font-box">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <h3><a href="#">Development</a></h3>
                                    <div class="text width-80">We develop products that cut across all platforms, our software development team can bring your projects to life</div>
                                </div>
                            </div>
                            <div class="services-block-four v2">
                                <div class="inner-box">
                                    <div class="icon-font-box">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <h3><a href="#">Training </a></h3>
                                    <div class="text width-80"> We offer software development, data science and agile project management training.</div>
                                </div>
                            </div>
                            <div class="services-block-four v2">
                                <div class="inner-box">
                                    <div class="icon-font-box">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <h3><a href="#">Consultancy</a></h3>
                                    <div class="text width-80"> Let us help you or your organization with tech related projects and solutions.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left">
                        <img class="img-responsive" src="{% static 'website/img/core-img/3.jpg'%}" alt="">
                    </div>
                </div>
            </div>
                
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->


    <div class="apis-sec relative hidden" style="background:#2C225A" id="system">
        <section class="compare section-padding-100-70">
            <div class="container">
                <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span class="gradient-text blue">Why Choose US</span>
                </div>
                <h2 class="w-text fadeInUp" data-wow-delay="0.3s">Problems We Defeated</h2>
                <p class="g-text fadeInUp" data-wow-delay="0.4s">We're Innovators. Our team is passionate about opportunities to innovate and find amazing ways to solve complex business challenges.</p>
            </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="compare-box">

                            <div class="compare-heading">
                                <span class="title text-center">Other platforms</span>
                            </div>
                            <div class="img-wrap text-center">
                                <img src="{% static 'website/img/core-img/without.png'%}" class="center-block mb-30" alt="">
                            </div>
                            <ul class="unfeat-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/unfeat02.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">High costs</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/unfeat01.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">High commissions</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/unfeat03.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">Tough entry</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/unfeat04.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">Unstable operation</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="compare-box compare-box-right">
                            <div class="compare-heading text-center">
                                <span class="title">Our platform</span>
                            </div>
                            <div class="img-wrap text-center">
                                <img src="{% static 'website/img/core-img/with.png'%}" class="center-block mb-30" alt="">
                            </div>
                            <ul class="unfeat-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/feat01.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">Lower costs</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/feat02.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">Ideal Performance </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/unfeat05.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">Time Saving</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'website/img/compare/feat09.png'%}" alt="" class="img-responsive">
                                    </div>
                                    <div class="desc">
                                        <span class="title">Statistics &amp; analytics</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
        <div class="clearfix"></div>

        <div class="container section-padding-0-70">
            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span class="gradient-text">Discover </span>
                </div>
                <h2 class="w-text fadeInUp" data-wow-delay="0.3s">Our Driving Force</h2>
                <p class="g-text fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="api-box has-shadow">
                       {% comment %}  <img src="{% static 'website/img/svg/api1.svg'%}" alt="" class="mb-30"> {% endcomment %}
                        <h3 class="bold mb-15"> Vision</h3>
                        <p> We strive to build and develop technology driven solutions for all customers and to drive innovation into typically traditional and outdated business models in order to bring them forward into the future by making it easier for our customers to access various types of services. </p>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="api-box v2 has-shadow">
                        {% comment %} <img src="{% static 'website/img/svg/api2.svg'%}" alt="" class="mb-30"> {% endcomment %}
                        <h3 class="bold mb-15">Mission</h3>
                        <p>We strive to provide enrichment, enlightenment and fulfillment to all our employees and customers by leveraging and developing the best possible technologies to lift all to a higher plane of living. <br><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img">

        <!-- ##### team Area Start ##### -->
        <div class="striples-bg">
            <div class="faq-timeline-area transparent section-padding-0-85" id="faq">
                <div class="container">
                    <div class="section-heading text-center">
                        <!-- Dream Dots -->
                        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span>Token FAQ</span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">  Frequently Questions</h2>
                        <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-6">
                            <img class="img-responsive" src="{% static 'website/img/core-img/0faq.png'%}" alt="">
                        </div>
                        <div class="col-12 col-lg-6 col-md-12">
                            <div class="dream-faq-area mt-s ">
                                <dl style="margin-bottom:0">
                                    <!-- Single FAQ Area -->
                                    <dt class="wave fadeInUp" data-wow-delay="0.2s">What are the objectives of this business?</dt>
                                    <dd class="fadeInUp" data-wow-delay="0.3s">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore omnis quaerat nostrum, pariatur ipsam sunt accusamus enim necessitatibus est fugiat, assumenda dolorem, deleniti corrupti cupiditate ipsum, dolorum voluptatum esse error?</p>
                                    </dd>
                                    <!-- Single FAQ Area -->
                                    <dt class="wave fadeInUp" data-wow-delay="0.3s">What is the best features and services we deiver?</dt>
                                    <dd>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore omnis quaerat nostrum, pariatur ipsam sunt accusamus enim necessitatibus est fugiat, assumenda dolorem, deleniti corrupti cupiditate ipsum, dolorum voluptatum esse error?</p>
                                    </dd>
                                    <!-- Single FAQ Area -->
                                    <dt class="wave fadeInUp" data-wow-delay="0.4s">Why this AI important to me?</dt>
                                    <dd>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore omnis quaerat nostrum, pariatur ipsam sunt accusamus enim necessitatibus est fugiat, assumenda dolorem, deleniti corrupti cupiditate ipsum, dolorum voluptatum esse error?</p>
                                    </dd>
                                    <!-- Single FAQ Area -->
                                    <dt class="wave fadeInUp" data-wow-delay="0.5s">how may I take part in and purchase this?</dt>
                                    <dd>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore omnis quaerat nostrum, pariatur ipsam sunt accusamus enim necessitatibus est fugiat, assumenda dolorem, deleniti corrupti cupiditate ipsum, dolorum voluptatum esse error?</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ##### Team Area Start ##### -->
            <section class="our_team_area section-padding-0-70 clearfix" id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center">
                                <!-- Dream Dots -->
                                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                                    <span>Our Creative Team</span>
                                </div>
                                <h2 class="fadeInUp" data-wow-delay="0.3s">Our Awesome Team</h2>
                                <p class="fadeInUp" data-wow-delay="0.4s">
                                 We're Innovators. Our team is passionate about opportunities to innovate and find amazing ways to solve complex business challenges.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Single Team Member -->
                        <div class="col-12 col-sm-6 col-lg-4">
                           <div class="our-team ico-team">
                                <div class="team_img">
                                    <img src="{% static 'website/img/team-img/1.png'%}" class="mt-30 width-80" alt="chef-1">
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-content">
                                    <h4 class="title">Randy crishen</h4>
                                    <span class="post">Web Developer </span>
                                </div>
                            </div>
                        </div>

                        <!-- Single Team Member -->
                        <div class="col-12 col-sm-6 col-lg-4">
                           <div class="our-team ico-team">
                                <div class="team_img">
                                    <img src="{% static 'website/img/team-img/1.png'%}" class="mt-30 width-80" alt="chef-1">
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-content">
                                    <h4 class="title">Monica Ashker</h4>
                                    <span class="post">Company CEO</span>
                                </div>
                            </div>
                        </div>

                        <!-- Single Team Member -->
                        <div class="col-12 col-sm-6 col-lg-4">
                           <div class="our-team ico-team">
                                <div class="team_img">
                                    <img src="{% static 'website/img/team-img/1.png'%}" class="mt-30 width-80" alt="chef-1">
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-content">
                                    <h4 class="title">Tollay Ramzomi</h4>
                                    <span class="post">Web Designer </span>
                                </div>
                            </div>
                        </div>

                     
                    </div>
                </div>
            </section>
            <!-- ##### Team Area End ##### -->

            
            {% comment %}  <section class="our-partners clearfix section-padding-0-70">
                <div class="container">
                    <div class="section-heading text-center">
                        <!-- Dream Dots -->
                        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span>Our Main Partners</span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">Our powerful Partners</h2>
                        <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                    <div class="row">
                        
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/1.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/2.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/3.png'%}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/4.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/5.png'%}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6   col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/1.png'%}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/4.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member ">
                                <div class="team-img">
                                    <img class="img-responsive center-block" src="{% static 'website/img/partners/5.png'%}" alt="">
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </section> {% endcomment %}
        </div>
        
        <!-- ##### team Area End ##### -->

        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="{% static 'website/img/core-img/logo.png'%}" alt="logo"> Vorakor Technologies </a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                                <h5>PRIVACY & TOS</h5>
                                <a href="#"><p>Advertiser Agreement</p></a>
                                <a href="#"><p>Acceptable Use Policy</p></a>
                                <a href="#"><p>Privacy Policy</p></a>
                                <a href="#"><p>Technology Privacy</p></a>
                                <a href="#"><p>Developer Agreement</p></a>
                            </div>
                        </div>
                    </div>
                      
                    <div class="col-12 col-lg-2 col-md-6 ">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
                                <h5>NAVIGATE</h5>
                                <a href="#"><p>Advertisers</p></a>
                                <a href="#"><p>Developers</p></a>
                                <a href="#"><p>Resources</p></a>
                                <a href="#"><p>Company</p></a>
                                <a href="#"><p>Connect</p></a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 col-lg-3 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>Mailing Address:xx00 E. Union Ave</p>
                                <p>Suite 1100. Denver, CO 80237</p>
                                <p>+999 90932 627</p>
                                <p>support@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    
    <script src="{% static 'website/js/jquery.min.js'%}"></script>
    <!-- Popper js -->
    <script src=" {% static 'website/js/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src=" {% static 'website/js/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src=" {% static 'website/js/plugins.js'%} "></script>
    <script src=" {% static 'website/js/animated.js'%}"></script>
    <!-- Parallax js -->
    <script src=" {% static 'website/js/dzsparallaxer.js'%}"></script>

    <script src="{% static 'website/js/jquery.syotimer.min.js'%}"></script>

    <!-- script js -->
    <script src=" {% static 'website/js/script.js'%}"></script>

</body>

</html>