{% load static %}
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Our Services</title>

    <link rel="icon" href="{% static 'website/img/core-img/favicon.ico'%}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/style.css'%}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css'%}">

</head>

<body class="light-version">

    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
     <header class="header-area fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container light breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar light justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand light" href="#"><img src="{% static 'website/img/core-img/logo.png'%}" alt="logo"> Vorakor </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler demo">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Blog Posts</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Project</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>

                            <!-- Button -->
                            <a href="#" class="btn login-btn ml-50">Log in</a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix dzsparallaxer auto-init" data-options='{direction: "normal"}'>
        <div class="divimage dzsparallaxer--target" style="width: 101%; height: 130%; background-image: url('/static/website/img/bg-img/bg-2.jpg')"></div>
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Our Services</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <section class="about-us-area ico-about-bg section-padding-100-70 clearfix">
        
        
        <div class="bub-right" id="feat">
            <div class="container">
                
                <div class="section-heading text-center">
                    <!-- Dream Dots -->
                    <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                        <span class="gradient-text blue">WHAT WE OFFER</span>
                    </div>
                    <h2 class="fadeInUp" data-wow-delay="0.3s"> Our Main Services</h2>
                    <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>
                    

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="{% static 'website/img/icons/s1.png'%}" alt="">
                            </div>
                            <h6>Face Recognation</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Nulla neque quam, maxi ut ac cu msan ut, posuere sit Lorem ipsum qu.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src=" {% static 'website/img/icons/s2.png'%}" alt="">
                            </div>
                            <h6>Artificial Intelligence</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Nulla neque quam, maxi ut ac cu msan ut, posuere sit Lorem ipsum qu.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="{% static 'website/img/icons/s3.png'%}" alt="">
                            </div>
                            <h6>Machine Learning</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla neque quam, maxi ut ac cu msan ut, posuere sit Lorem ipsum qu.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="{% static 'website/img/icons/s4.png'%}" alt="">
                            </div>
                            <h6>Robots Engineering</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Nulla neque quam, maxi ut ac cu msan ut, posuere sit Lorem ipsum qu.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="{% static 'website/img/icons/s5.png' %}" alt="">
                            </div>
                            <h6>Deep Learning</h6>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit. Nulla neque quam, maxi ut ac cu msan ut, posuere sit Lorem ipsum qu.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="{% static 'website/img/icons/s6.png'%}" alt="">
                            </div>
                            <h6>AI Data Analysis</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla neque quam, maxi ut ac cu msan ut, posuere sit Lorem ipsum qu.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>

    <div class="striples-bg">
        <div class="apis-sec relative hidden" id="system">
            <section class="compare non section-padding-0-70">
                <div class="container">
                    <div class="section-heading text-center">
                    <!-- Dream Dots -->
                    <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                        <span class="gradient-text blue">Why Choose US</span>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Problems We Defeated</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="compare-box">

                                <div class="compare-heading">
                                    <span class="title text-center">Other AI platforms</span>
                                </div>
                                <div class="img-wrap text-center">
                                    <img src="{% static 'website/img/core-img/without.png'%}" class="center-block mb-30" alt="">
                                </div>
                                <ul class="unfeat-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/unfeat02.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">High costs</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/unfeat01.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">High commissions</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/unfeat03.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">Tough entry</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/unfeat04.png' %}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">Unstable operation</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="compare-box compare-box-right">
                                <div class="compare-heading text-center">
                                    <span class="title">Our AI platform</span>
                                </div>
                                <div class="img-wrap text-center">
                                    <img src=" {% static 'website/img/core-img/with.png'%}" class="center-block mb-30" alt="">
                                </div>
                                <ul class="unfeat-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/feat01.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">Lower costs</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/feat02.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">Ideal Performance </span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/unfeat05.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">Time Saving</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="{% static 'website/img/compare/feat09.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="desc">
                                            <span class="title">Statistics &amp; analytics</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem quia explic</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
            <div class="clearfix"></div>

            <div class="container section-padding-0-70">
                <div class="section-heading text-center">
                    <!-- Dream Dots -->
                    <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                        <span class="gradient-text">Discover available APIs</span>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Get Our Platform APIs</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="api-box has-shadow">
                            <img src="{% static 'website/img/svg/api1.svg'%}" alt="" class="mb-30">
                            <h3 class="bold mb-15">Powerful Business APIs</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum sunt ratione minus neque eveniet hic fuga voluptatibus aut inventore, iure similique esse autem deleniti et tempora explicabo recusandae quibusdam?</p>
                            <a href="#" class="btn more-btn pink mt-15">Learn More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="api-box v2 has-shadow">
                            <img src="{% static 'website/img/svg/api2.svg'%}" alt="" class="mb-30">
                            <h3 class="bold mb-15">Platform Documentation</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum sunt ratione minus neque eveniet hic fuga voluptatibus aut inventore, iure similique esse autem deleniti et tempora explicabo recusandae quibusdam?</p>
                            <a href="#" class="btn more-btn pink mt-15">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" >
        <div class="footer-content-area " >
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-12 col-md-5">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text wow fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="{% static 'website/img/core-img/logo.png'%}" alt="logo"> Robostam.</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad, a eaque officiis eligendi blanditiis odio necessitatibus.</p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.2s">
                                <h5>NAVIGATE</h5>
                                <a href="#"><p>Advertisers</p></a>
                                <a href="#"><p>Developers</p></a>
                                <a href="#"><p>Resources</p></a>
                                <a href="#"><p>Company</p></a>
                                <a href="#"><p>Connect</p></a>
                            </div>
                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.3s">
                                <h5>PRIVACY & TOS</h5>
                                <a href="#"><p>Advertiser Agreement</p></a>
                                <a href="#"><p>Acceptable Use Policy</p></a>
                                <a href="#"><p>Privacy Policy</p></a>
                                <a href="#"><p>Technology Privacy</p></a>
                                <a href="#"><p>Developer Agreement</p></a>
                            </div>
                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>Mailing Address:xx00 E. Union Ave</p>
                                <p>Suite 1100. Denver, CO 80237</p>
                                <p>+999 90932 627</p>
                                <p>support@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <script src="{% static 'website/js/jquery.min.js'%}"></script>
    <!-- Popper js -->
    <script src=" {% static 'website/js/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src=" {% static 'website/js/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src=" {% static 'website/js/plugins.js'%} "></script>
    <script src=" {% static 'website/js/animated.js'%}"></script>
    <!-- Parallax js -->
    <script src=" {% static 'website/js/dzsparallaxer.js'%}"></script>

    <script src="{% static 'website/js/jquery.syotimer.min.js'%}"></script>

    <!-- script js -->
    <script src=" {% static 'website/js/script.js'%}"></script>
</body>

</html>